* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html[data-theme='dark'] {
  background-color: #0f0f0f;
}

html[data-theme='dark'] .top .line3 {
  color: white;
}

html[data-theme='dark'] .top .options .moon {
  fill: white;
}

html[data-theme='dark'] .content .card .text {
  color: white;
}

html[data-theme='dark'] .content .card .text .type {
  color: #cacaca;
}

input[type=checkbox] {
  display: none;
}

.top {
  padding: 5em 15em;
  height: 60vh;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.top .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.top .options .moon {
  fill: #0f0f0f;
  height: 1.4em;
  width: 1.4em;
  padding-left: 0.5em;
  cursor: pointer;
}

.top .line1 {
  font-family: Bungee;
  font-size: 6vw;
  color: #009ACB;
  line-height: 0;
}

.top .line2 {
  font-family: Bungee Shade;
  font-size: 14vw;
  color: #009ACB;
  line-height: 1.5;
}

.top .line3 {
  font-family: Bungee Hairline;
  font-size: 2.5vw;
  color: #707070;
  line-height: 1;
}

.top .social {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top .social .icon {
  padding: 0.3em;
  fill: #009ACB;
  height: 2.5em;
  width: 2.5em;
}

.top .social .icon2 {
  padding: 0.3em;
  fill: #009ACB;
  height: 2.7em;
  width: 2.7em;
}

.top .resume {
  width: 2em;
}

.top .resume p {
  font-family: Bungee;
  border-color: #009ACB;
  border-style: solid;
  font-size: 2em;
  text-align: center;
  line-height: 130%;
  width: 6em;
  color: #009ACB;
}

.top .resume a {
  text-decoration: none;
}

.scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroll a {
  text-decoration: none;
}

.scroll p {
  color: #009ACB;
  font-family: Bungee;
  border-color: #009ACB;
  border-style: solid;
  font-size: 2em;
  width: 110%;
  text-align: center;
  line-height: 130%;
}

.scroll .line {
  width: 0.2vw;
  height: 19vh;
  background-color: #009ACB;
  margin-left: 1.4em;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  width: 50vw;
  margin-left: 1.4em;
  border-color: #009ACB;
  border-style: solid;
  margin-bottom: 12vh;
}

.content .card .logo {
  margin: 2em;
  height: 10em;
  width: 10em;
}

.content .card .text {
  font-family: helvetica;
  color: #707070;
}

.content .card .text .title {
  font-family: Montserrat;
  font-size: 2em;
}

.content .card .text .title .fb {
  color: #007DFB;
}

.content .card .text .type {
  font-size: 0.8em;
  color: black;
}

.content .card .text .link {
  text-decoration: none;
  color: #009ACB;
  font-size: 0.93em;
}

@media only screen and (max-width: 800px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top {
    padding: 1em;
    height: 65vh;
    width: 90vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .top .line1 {
    font-size: 12vw;
  }
  .top .line2 {
    font-size: 25vw;
  }
  .top .line3 {
    font-size: 6vw;
  }
  .scroll .line {
    width: 1vw;
  }
  .scroll p {
    border-width: 0.1em;
  }
  .content .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90vw;
    height: 65vh;
    margin-left: 0;
    border-width: 0.2em;
  }
  .content .card .text {
    padding: 1em;
  }
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}
/*# sourceMappingURL=main.css.map */
