* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}


.top {
    padding: 5em 15em;
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

    .picker{
        display: flex;
        align-self: flex-end;
    }

    .line1 {
        font-family: Bungee;
        font-size: 6vw;
        color: #009ACB;
        line-height: 0;
    }
    .line2 {
        font-family: Bungee Shade;
        font-size: 14vw;
        color: #009ACB;
        line-height: 1.5;
    }
    .line3 {
        font-family: Bungee Hairline;
        font-size: 2.5vw;
        color: #707070;
        line-height: 0;
    }

}

.scroll{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
        text-decoration: none;
    }

    p {
        background-color: white;
        color: #009ACB;
        font-family: Bungee;
        border-color: #009ACB;
        border-style: solid;
        font-size: 2em;
        width: 110%;
        text-align: center;
        line-height: 130%;
    }

   .line {
        width: 0.2vw;
        height: 14vh;
        background-color: #009ACB;
        margin-left: 1.4em;
   }

}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card {
        display: flex;
        align-items: center;
        background-color: white;
        height: 30vh;
        width: 50vw;
        margin-left: 1.4em;
        border-color: #009ACB;
        border-style: solid;
        margin-bottom: 12vh;

        .logo {
            margin: 2em;
            height: 10em;
            width: 10em;
        }

        .text {

            font-family: helvetica;
            color: #707070;

            .title{
                font-family: Montserrat;
                font-size: 2em;

                .fb {
                    color: #007DFB;
                }
            }

            .type{
                font-size: 0.8em;
                color: black;
            }


            .link{
                text-decoration: none;
                color: #009ACB;
                font-size: 0.93em;
            }

        }
    }
   
}